body {
  background-color: lightblue;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#clear {
  margin: auto;
}

#submit{
  float: right;
}

#to_do_form{
  margin: auto;
  margin-top: 5%;
  width: 40%;
  padding: 10px;
  /* border: 1px solid; */
}
