body {
  background-color: lightblue;
}

h1{
  text-align: center;
}

h2 {
  color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #C0C0C0;
}

#clear {
  text-align: center;
}

#submit{
  float: right;
}

#to_do_form{
  margin: auto;
  margin-top: 5%;
  width: 40%;
  padding: 10px;
  /* border: 1px solid; */
}
